<style>
.modal-dialog.large {
    width: 90%; /* responsive width */
}
</style>

{% set selectedOptions = [] %}
{% set options = [] %}

{% if relation.get('inverted', false) %}
{% set related = content.get('incoming.' ~ relation.get('other')) %}
{% else %}
{% set related = content.get('outgoing.' ~ relation.get('other')) %}
{% endif %}
{% for uuid, other in related %}
    {% set selectedOptions = selectedOptions|merge([other.id]) %}
    {% set options = options|merge([{
        'id': other.id,
        'title': other.getTitle,
        'image': (other.image ? other.image : other.image_icon) ~ '-/scale_crop/70x70/center/img.jpg',
        'thumbnail': (other.image ? other.image : other.image_icon)  ~ '-/scale_crop/15x15/center/img.jpg'
    }]) %}
{% endfor %}
{% if relation.get('multiple', false) %}
<select
    name="{{ name }}"
    id="{{ id }}"
    class="wide"
    multiple
    data-placeholder="(none)">
{% else %}
<select
    name="{{ name }}"
    id="{{ id }}"
    class="wide"
    data-placeholder="(none)">
{% endif %}
</select>
<script>
    $(document).ready(function() {
        var $select = $('#{{ id }}').selectize({
            valueField: 'id',
            labelField: 'title',
            searchField: 'title',
            options: {{ options|json_encode()|raw }},
            load: function(query, callback) {
                $.get('{{ path('async.content', {contentTypeKey: relation.get('other'), originatorContentTypeKey: content.contentType.getKey}) }}' + '&search=' + query, function(results) {
                    var data = [];
                    _.each(results, function(result, id) {
                        data.push({
                            id: result.id,
                            title: result.title_nl,
                            description: result.description_nl,
                            image: (result.image ? result.image : result.image_icon) + '-/scale_crop/70x70/center/img.jpg',
                            thumbnail: (result.image ? result.image : result.image_icon) + '-/scale_crop/15x15/center/img.jpg'
                        });
                    });
                    callback(data);
                });
            },
            render: {
                item: function(item, escape) {
                    return '<div>' +
                        '<img src="' + item.thumbnail + '" alt="">' +
                        (item.title ? '<span class="title"> ' + item.title + '</span>' : '') +
                    '</div>';
                },
                option: function(item, escape) {
                    return '<div>' +
                        '<img src="' + item.image + '" alt="">' +
                        '<span class="title"> ' + item.title + '</span>' +
                    '</div>';
                }
            },
            preload: false,
            create: false,
            plugins: ['remove_button', 'drag_drop'],
            delimiter: ',',
            persist: false
        });

        var selectize = $select[0].selectize;
        selectize.setValue([{% for option in selectedOptions %}'{{ option }}',{% endfor %}]);
    });
</script>
{#
<!-- Modal -->
<div class="modal fade" id="modal-{{ relation.get('other') }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog large">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Modal title</h4>
      </div>
      <div class="modal-body">
        Body!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save</button>
      </div>
    </div>
  </div>
</div>

<a id="new-{{relation.get('other')}}" class="btn btn-primary" data-toggle="modal" data-target="#modal-{{relation.get('other')}}">
    <i class="fa fa-plus"></i> {% if relation.label %}{{ relation.label|trans }}{% else %}{{ relcontenttype|ucfirst|trans }}{% endif %}
</a>

<script>
    $('#new-{{ relation.get('other') }}').click(function() {
        var modal = $('#modal-{{ relation.get('other') }}');
        var modalBody = modal.find('.modal-body');
        var modalTitle = modal.find('.modal-title');
        modalBody.html('Loading...');
        modalTitle.html('{{ relation.get('other') }}');
        $.get('/admin/async/partial/{{ relation.get('other') }}/form', function(form) {
            modalBody.html(form);
        });
    });
</script>
 #}
