<div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
    <textarea
        name="{{ key }}"
        id="field-{{ key }}"
        class="form-control"
        type="text"
        style="height: 400px">{{ value|raw }}</textarea>

    {% for error in errors %}
    <span class="help-block">{{ __(error) }}</span>
    {% endfor %}
</div>

<script>
    $(document).ready(function() {
        $('#field-{{ key }}').wysihtml5({
            stylesheets: false,
            "font-styles": true,
            emphasis: true,
            lists: true,
            html: false,
            link: true,
            image: true,
            color: false
        });
    });
</script>
