<div id="map" style="width: 100%; height: 400px"></div>
<input type="hidden" name="{{key}}" class="form-control" id="field-{{key}}" value="{{ value }}">
<script>
    $(document).ready(function() {
        window.pointLeafletMap = L.map('map')
            .setView([50.505, 5.09], 7);

        // add an OpenStreetMap tile layer
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(window.pointLeafletMap);

        {% if value %}
        var point = {{value|raw}};
        var featureGroup = L.geoJson(point).addTo(window.pointLeafletMap);
        window.pointLeafletMap.fitBounds(featureGroup.getBounds());
        {% else %}
        var featureGroup = L.featureGroup().addTo(window.pointLeafletMap);
        {% endif %}

        var editControl = new L.Control.Draw({
            edit: {
                featureGroup: featureGroup,
                remove: false
            },
            draw: false
        });

        var drawControl = new L.Control.Draw({
            draw: {
                polyline: false,
                polygon: false,
                rectangle: false,
                circle: false,
                marker: {
                    repeatMode: false
                }
            },
            edit: {
                featureGroup: featureGroup,
                remove: false
            }
        });

        {% if value %}
        window.pointLeafletMap.addControl(editControl);
        {% else %}
        window.pointLeafletMap.addControl(drawControl);
        {% endif %}

        window.pointLeafletMap.on('draw:created', function(e) {
            window.pointLeafletMap.removeControl(drawControl);
            window.pointLeafletMap.addControl(editControl);
            featureGroup.addLayer(e.layer);
            var geoJson = e.layer.toGeoJSON();
            if(geoJson.features) {
                $('#field-{{key}}').val(JSON.stringify(geoJson.features[0].geometry));
            } else {
                $('#field-{{key}}').val(JSON.stringify(geoJson.geometry));
            }
        });

        window.pointLeafletMap.on('draw:edited', function(e) {
            var layers = e.layers;
            layers.eachLayer(function(layer) {
                $('#field-{{key}}').val(JSON.stringify(layer.toGeoJSON().geometry));
            });
        });
    });
</script>
