{% include 'layouts/_header' %}
<header class="header bg-dark">
  <p class="h4">
    {{ contentType.getName|raw }} beheren
  </p>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <form method="post" id="manage">
                {{ contentType.getViewForForm(content)|raw }}
            </form>
        </div>
        <div class="col-md-4 col-lg-3 col-md-fixed">
            <section class="panel">
                <header class="panel-heading h4">
                    {{ __('Actions for this %contenttype%',{'%contenttype%': contentType.get('singular_name')}) }}
                </header>
                <div class="panel-body">
                    {# <button type="submit" class="btn btn-primary" id="savebutton" style="margin-right: 8px;">
                        <i class="fa fa-flag"></i> {{ __('Save & return to overview') }}
                    </button><br>
                    <br>
                    <button type="button" class="btn" id="previewbutton">
                        <i class="fa fa-external-link"></i> {{ __('Preview') }}
                    </button><br>
                    <br> #}
                    <button type="button btn-primary" class="btn" id="savecontinuebutton" style="margin-right: 8px;">
                        <i class="fa fa-flag"></i> {{ __('Save %contenttype%',{'%contenttype%': contentType.get('singular_name')}) }}
                    </button><br>
                    <br>
                    <p class="lastsaved">
                        {% if content.get('id') != null %}
                            {{ __('Saved on:') }} <strong>{{ content.get('datechanged')|localdate("%b %e, %H:%M") }}</strong></p>
                        {% else %}
                            {{ __('This %contenttype% has not been saved yet.', {'%contenttype%': contentType.get('singular_name')}) }}
                        {% endif %}
                    </p>

                    <script type="text/javascript">
                        $(function() {
                            // To preview the page, we set the target of the form to a new URL, and open it in a new window.
                            $('#previewbutton').bind('click', function(e){
                                e.preventDefault();
                                var newaction = "{{ paths.base }}" + "preview" + "/{{ contentType.singular_slug }}";
                                $('#manage').attr('action', newaction).attr('target', "_blank").submit();
                                $('#manage').attr('action', '').attr('target', "_self");
                            });

                            // Clicking the 'save & continue' button either triggers an 'ajaxy' post, or a regular
                            // post which returns to this page. The latter happens if the record doesn't exist yet, so it doesn't
                            // have an id yet.
                            $('#savecontinuebutton').bind('click', function(e){
                                e.preventDefault();

                                var newrecord = {% if content.id != 0 %}false{% else %}true{% endif %};

                                // Disable the buttons, to indicate stuff is being done.
                                $('#savecontinuebutton').addClass('disabled');

                                $('p.lastsaved').text('{{ __("Saving…") }}');

                                $('#manage').submit();
                                // if (newrecord) {
                                //     // New record.. do a regular post, and expect to be redirected back to this page.
                                //     var newaction = "?returnto=" + $(this).attr('id');
                                //     $('#manage').attr('action', newaction).submit();
                                // } else {
                                //     // Existing record. Do an 'ajaxy' post to update the record.
                                //     $.post("", $("#manage" ).serialize())
                                //         .done(function(data) {
                                //             // var message = "{{ __('The changes to this %contenttype% have been saved.', {'%contenttype%': contentType.singular_name}) }}";
                                //             $('p.lastsaved').html('{{ __('Saved on:') }} <strong></strong></p>');
                                //             $('p.lastsaved').find('strong').text(moment().format('MMM D, HH:mm'));
                                //             $('p.lastsaved').find('time').attr('datetime', moment().format());
                                //             $('p.lastsaved').find('time').attr('title', moment().format());
                                //         })
                                //         .fail(function(){
                                //             $('p.lastsaved').text('{{ __('Could not save %contenttype%.', { '%contenttype%': contentType.singular_name }) }}');
                                //         })
                                //         .always(function(){
                                //             // Re-enable buttons
                                //             $('#savecontinuebutton').removeClass('disabled');
                                //         });
                                // }
                            });
                        });
                    </script>
                </div>
            </section>
        </div>
    </div>
</section>
{% include 'layouts/_footer' %}
