{% include 'layouts/_header' %}
<header class="header bg-dark">
  <p class="h4">
    {{ contentType.getName|raw }}

    <span>{% if pager is defined and pager.totalpages > 1 %}
        {{ __('Showing') }} {{ pager.showing_from }} - {{ pager.showing_to }} {{ __('of') }} {{ pager.count }}
    {%endif %}</span>
  </p>
  <form class="m-t-sm navbar-right" role="search">
    <div class="form-group">
      <div class="input-group input-s">
        <input type="text" name="filter" value="{{app.request.get('filter')}}" class="form-control input-sm no-border dk text-white" placeholder="Search">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-sm btn-primary btn-icon"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </form>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    {% set lastgroup = "----" %}
                        {% if not contents %}
                        <section class="panel">
                            <div class="panel-body text-center h4">
                                {{ __('No %contenttypes% available.', {'%contenttypes%':contentType.name}) }}
                            </div>
                        </section>
                        {% else %}
                        <section class="panel">
                                {{ contentType.getViewForListing(contents)|raw }}
                        </section>
                        {% endif %}

                    {{ pager() }}
                </div>

                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading h4">
                            {# {{__('Actions for %contenttypes%',{'%contenttypes%':contentType.name})}} #}
                        </header>
                        <div class="panel-body">
                            <a class="btn btn-primary btn-large" href="{{ path('editcontent', { 'contenttypeslug': contentType.slug, 'id': '' }) }}">
                                <i class="fa fa-plus"></i> {{ __('New %contenttype%',{'%contenttype%': contentType.singular_name}) }}
                            </a>
                            {% if request('filter') or request('order') %}
                            <a class="btn btn-default" href="?">{{ __('Clear sort/filter') }}</a>
                            {% endif %}
                        </div>
                    </section>

                    <section class="panel">
                        <header class="panel-heading h4">
                            {{ __('Filtering:') }}
                        </header>
                        <div class="panel-body">
                            <form class="input-group">
                                <input type="text" class="form-control" value="{{ request('filter', '', true) }}" name="filter">
                                <div class="input-group-btn">
                                    {% if request('filter') %}
                                    <a class="btn btn-default" href="?">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary">{{ __('Filter') }}</button>
                                </div>
                            </form>
                        </div>
                    </section>

                    {# {{ render(path("lastmodified", {"contenttypeslug": contentType.slug} )) }} #}

                    {# {{ render(path("showstack", {'items': 5, 'options': 'full' } )) }} #}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'layouts/_footer' %}
