{% set fields = contentType.getFields %}

{% set nonMultilanguageFields = fields.getNonMultilanguageFields %}
{% if not nonMultilanguageFields.isEmpty %}
<section class="panel">
    <div class="panel-body">
        {% for field in nonMultilanguageFields %}
        <div class="form-group">
            <label class="control-label col-sm-3" style="font-weight: bold">{{ field.getLabel }}</label>
            <div class="col-sm-9">
                {{ field.getViewForForm(content)|raw }}<br>
            </div>
        </div>
        {% if not loop.last %}
        <div class="line line-dashed line-lg pull-in"></div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}

{% set multilanguageFields = fields.getMultilanguageFields %}
{% if not multilanguageFields.isEmpty %}
<section class="panel">
    <header class="panel-heading bg-light">
        <ul class="nav nav-tabs">
            {% for key, locale in app.config.get('app/locales') %}
            <li{% if loop.first %} class="active"{% endif %}><a href="#{{key}}" data-toggle="tab">{{locale}}</a></li>
            {% endfor %}
        </ul>
    </header>
    <div class="panel-body">
        <div class="tab-content">
            {% for key, locale in app.config.get('app/locales') %}
            <div class="tab-pane{% if loop.first %} active{% endif %}" id="{{key}}">
                {% for field in multilanguageFields %}
                <div class="form-group">
                    <label class="control-label col-sm-3" style="font-weight: bold">{{ field.getLabel }}</label>
                    <div class="col-sm-9">
                        {{ field.getViewForForm(content, key)|raw }}<br>
                    </div>
                </div>
                {% if not loop.last %}
                <div class="line line-dashed line-lg pull-in"></div>
                {% endif %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endif %}

{% set relations = contentType.getRelations %}
{% if not relations.isEmpty %}
<section class="panel">
    <header class="panel-heading h4">
        {{ __('Relationships') }}
        <span class="label info-pop" data-html="true" data-title="{{ __('Relationships') }}"
            data-content="{{ app.translator.trans('info.relationships',{},'infos') }}"><i class="fa fa-question-circle" style="color: lightblue; font-size: 20px;"></i></span>
    </header>
    <div class="panel-body">
        {% for relation in relations %}
        <div class="form-group">
            <label class="control-label col-sm-3" style="font-weight: bold">{{ relation.getLabel }}</label>
            <div class="col-sm-9">
                {{ relation.getViewForForm(content)|raw }}<br>
            </div>
        </div>
        {% if not loop.last %}
        <div class="line line-dashed line-lg pull-in"></div>
        {% endif %}
        {% endfor %}
    </div>
</section>
{% endif %}

{% set defaultFields = contentType.getDefaultFields %}
{% for field in defaultFields %}
{% if field.getKey != 'id' %}
<input type="hidden" name="{{ field.getKey }}" value="{{ content.get(field.getKey) }}">
{% endif %}
{% endfor %}
