{% set fields = contentType.getFields %}
{% set listingColumns = contentType.get('listing_columns') %}
<table class="table table-striped">
	{% for content in contents %}
	<tr>
		{% if listingColumns %}
		{% for fieldKey in listingColumns %}
		<td>
			{{ fields.get(fieldKey).getViewForListing(content)|raw }}
		</td>
		{% endfor %}
		{% else %}
		{% set imageField = contentType.getImageField %}
		{% if imageField %}
		<td>
			{{ imageField.getViewForListing(content)|raw }}
		</td>
		{% endif %}
		{% set titleField = contentType.getTitleField %}
		{% if titleField %}
		<td>
			{{ titleField.getViewForListing(content)|raw }}
		</td>
		{% endif %}
		{% endif %}
		<td class='actions text-right'>
		    <div style="width: 200px;" class="btn-group">
		        <a class="btn btn-primary btn-mini" href="{{ path('editcontent', { 'contenttypeslug': content.contentType.slug, 'id': content.id }) }}">
		            <i class="icon-edit"></i> {{ __('Edit') }}
		        </a>
		        <button class="btn dropdown-toggle btn-mini" data-toggle="dropdown">
		            <i class="icon-info-sign"></i>
		            <span class="caret"></span>
		        </button>
		        <ul class="dropdown-menu pull-right">
		            {% if content.status != "published" %}
		                {# {% if isallowed('publish', content) %} #}
		                <li><a href="{{ path('contentaction', { 'action': 'publish', 'contenttypeslug': content.contentType.slug,  'id': content.id }) }}">
		                    <i class="icon-star-empty"></i> {{ __('Publish %contenttype%',{'%contenttype%':content.contentType.singular_name}) }}</a></li>
		                {# {% endif %} #}
		            {% else %}
		                {# {% if isallowed('depublish', content) %} #}
		                <li><a href="{{ path('contentaction', { 'action': 'held', 'contenttypeslug': content.contentType.slug,  'id': content.id }) }}">
		                    <i class="icon-star"></i> {{ __("Change status to 'held'") }}</a></li>
		                <li><a href="{{ path('contentaction', { 'action': 'draft', 'contenttypeslug': content.contentType.slug,  'id': content.id }) }}">
		                    <i class="icon-pencil"></i> {{ __("Change status to 'draft'") }}</a></li>
		                {# {% endif %} #}
		            {% endif %}
		            {# {% if isallowed('create', content) %} #}
		            <li><a href="{{ path('editcontent', { 'contenttypeslug': content.contentType.slug, 'id': content.id, 'duplicate': 1 }) }}">
		                <i class="icon-copy"></i> {{ __('Duplicate %contenttype%', {'%contenttype%': content.contentType.singular_name}) }}</a></li>
		            {# {% endif %} #}
		            {# {% if isallowed('delete', content) %} #}
		            <li><a href="{{ path('deletecontent', { 'contenttypeslug': content.contentType.slug, 'id': content.id, token: token() }) }}"
		                   data-confirm="Are you sure you want to delete '{{content.getTitle}}'?" class="confirm">
		                <i class="icon-trash"></i> {{ __('Delete %contenttype%',{'%contenttype%': content.contentType.singular_name}) }}</a></li>
		            {# {% endif %} #}
		            <li class="divider"></li>

		            <li><a class="nolink">{{__('Author:') }} <strong><i class="icon-user"></i>
		                {% if content.user.displayname is defined %}
		                    {{ content.user.displayname|trimtext(15) }}
		                {% else %}
		                    <s>user {{ content.values.ownerid }} </s>
		                {% endif %}</strong></a></li>
		            <li><a class="nolink">{{ __('Current status:') }}
		                <strong>{{ content.status }}</strong></a></li>
		            <li><a class="nolink">{{ __('Slug:') }}
		                <code title="{{ content.slug }}">{{ content.slug|trimtext(24) }}</code></a></li>
		            <li><a class="nolink">{{ __('Created on:') }}
		                <i class="icon-asterisk"></i> {{ content.datecreated|date("Y-m-d H:i") }}</a></li>
		            <li><a class="nolink">{{ __('Published on:') }}
		                <i class="icon-calendar"></i> {{ content.datepublish|date("Y-m-d H:i") }}</a></li>
		            <li><a class="nolink">{{ __('Last edited on:') }}
		                <i class="icon-refresh"></i> {{ content.datechanged|date("Y-m-d H:i") }}</a></li>

		        </ul>
		    </div>
		</td>
	</tr>
	{% endfor %}
</table>
