{% include 'layouts/_header_basic' %}
{% set relations = contentType.getRelations %}
<header class="header bg-dark bg-gradient">
    <p class="h4">
        {{ __('manage.title', {':contentTypeSingularName': contentType.get('singular_name')}, contentType.getKey)|ucfirst }}
    </p>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-md-8 col-lg-9">
            <form method="post" action="{{ path('manage', { 'contentTypeKey': contentType.key, 'id': content.id, 'redirect': 'back' }) }}" id="manage">
                {# <section class="panel" id="wizard">
                    <div class="wizard clearfix">
                        <ul class="steps">
                            <li data-target="#main" class="active"><span class="badge badge-info">1</span > {{ contentType.get('singular_name')|raw }} beheren</li>
                            {% for relation in contentType.getRelations.filterBy('type', 'wizard') %}
                            <li data-target="#{{ relation.getKey }}"><span class="badge badge-info">{{ loop.index + 1 }}</span>{{ relation.getKey }} relateren</li>
                            {% endfor %}
                        </ul>
                        <div class="actions">
                            <button type="button" class="btn btn-mini btn-prev"><i class="glyphicon glyphicon-arrow-left"></i> Prev</button>
                            <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next <i class="glyphicon glyphicon-arrow-right"></i></button>
                        </div>
                    </div>
                    <div class="step-content">
                        <div class="step-pane active" id="main"> #}
                            {{ contentType.getViewForForm(content)|raw }}
                        {# </div>
                        {% for relation in contentType.getRelations %}
                        {% if relation.get('type') == 'wizard' %}
                            {% set otherContentType = relation.getOther %}
                            <div class="step-pane" id="{{ relation.getKey }}">
                                {{ otherContentType.getViewForForm|raw }}
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div> #}


                    {# <section class="panel-footer">
                        <div class="actions">
                            <button type="button" class="btn btn-mini btn-prev"><i class="glyphicon glyphicon-arrow-left"></i> Prev</button>
                            <button type="button" class="btn btn-mini btn-next" data-last="Finish">Next <i class="glyphicon glyphicon-arrow-right"></i></button>
                        </div>
                    </section>
                </section> #}
            </form>
        </div>
        <div class="col-md-4 col-lg-3 col-md-fixed">
            <section class="panel">
                <header class="panel-heading h4">
                {{ __('manage.actions.title', {':contentTypeSingularName': contentType.get('singular_name')}, contentType.getKey) }}
                </header>
                <div class="panel-body">
                    {# <button type="submit" class="btn btn-primary" id="savebutton" style="margin-right: 8px;">
                    <i class="fa fa-flag"></i> {{ __('Save & return to overview') }}
                    </button><br>
                    <br>
                    <button type="button" class="btn" id="previewbutton">
                    <i class="fa fa-external-link"></i> {{ __('Preview') }}
                    </button><br>
                    <br> #}
                    <button type="button" class="btn btn-primary" id="savecontinuebutton" style="margin-right: 8px;">
                        <i class="fa fa-flag"></i> {{ __('manage.actions.save', {':contentTypeSingularName': contentType.get('singular_name')}, contentType.getKey)|ucfirst }}
                    </button><br>
                    <br>
                    <p class="lastsaved">
                    {% if content.get('datechanged') != null %}
                    {{ __('manage.actions.saved_on') }} <strong>{{ content.get('datechanged')|localdate("%b %e, %H:%M") }}</strong></p>
                    {% else %}
                    {{ __('manage.actions.not_saved', {':contentTypeSingularName': contentType.get('singular_name')}, contentType.getKey) }}
                    {% endif %}
                    </p>
                </div>
            </section>
        </div>
    </div>
</section>
<script type="text/javascript">
    $(function() {
        $('#wizard').on('changed', function() {
            if (window.leafletMaps) {
                _.each(window.leafletMaps, function(maps, type) {
                    _.each(maps, function(map, id) {
                        map.invalidateSize();
                    });
                });
            }
        });

        // To preview the page, we set the target of the form to a new URL, and open it in a new window.
        $('#previewbutton').bind('click', function(e){
            e.preventDefault();
            var newaction = "{{ paths.base }}" + "preview" + "/{{ contentType.singular_slug }}";
            $('#manage').attr('action', newaction).attr('target', "_blank").submit();
            $('#manage').attr('action', '').attr('target', "_self");
        });

        // Clicking the 'save & continue' button either triggers an 'ajaxy' post, or a regular
        // post which returns to this page. The latter happens if the record doesn't exist yet, so it doesn't
        // have an id yet.
        $('#savecontinuebutton').bind('click', function(e){
        e.preventDefault();

        var newrecord = {% if content.id != 0 %}false{% else %}true{% endif %};

        // Disable the buttons, to indicate stuff is being done.
        $('#savecontinuebutton').addClass('disabled');

        $('p.lastsaved').text('{{ __("Saving…") }}');

        $('#manage').submit();
        // if (newrecord) {
        //     // New record.. do a regular post, and expect to be redirected back to this page.
        //     var newaction = "?returnto=" + $(this).attr('id');
        //     $('#manage').attr('action', newaction).submit();
        // } else {
        //     // Existing record. Do an 'ajaxy' post to update the record.
        //     $.post("", $("#manage" ).serialize())
        //         .done(function(data) {
        //             // var message = "{{ __('The changes to this %contenttype% have been saved.', {'%contenttype%': contentType.singular_name}) }}";
        //             $('p.lastsaved').html('{{ __('Saved on:') }} <strong></strong></p>');
        //             $('p.lastsaved').find('strong').text(moment().format('MMM D, HH:mm'));
        //             $('p.lastsaved').find('time').attr('datetime', moment().format());
        //             $('p.lastsaved').find('time').attr('title', moment().format());
        //         })
        //         .fail(function(){
        //             $('p.lastsaved').text('{{ __('Could not save %contenttype%.', { '%contenttype%': contentType.singular_name }) }}');
        //         })
        //         .always(function(){
        //             // Re-enable buttons
        //             $('#savecontinuebutton').removeClass('disabled');
        //         });
        // }
        });
    });
</script>
{% include 'layouts/_footer' %}
