{% include 'layouts/_header' %}
<header class="header bg-dark">
  <p class="h4">
    {{ __('listing.title', {':contentTypeSingularName': contentType.get('singular_name')}, contentType.getKey)|ucfirst }}
  </p>
  <form class="m-t-sm navbar-right" role="search">
    <div class="form-group">
      <div class="input-group input-s">
        <input type="text" name="search" value="{{app.request.get('search')}}" class="form-control input-sm no-border dk text-white" placeholder="{{ __('listing.actions.search') }}">
        <span class="input-group-btn">
          <button type="submit" class="btn btn-sm btn-primary btn-icon"><i class="fa fa-search"></i></button>
        </span>
      </div>
    </div>
  </form>
</header>
<section class="scrollable wrapper">
    <div class="row">
        <div class="col-lg-12">
            <div class="row">
                <div class="col-lg-8">
                    <section class="panel">
                    {% if not contents.isEmpty %}
                        {{ contentType.getViewForListing(contents)|raw }}
                    {% else %}
                        <div class="panel-body text-center h4">
                            {{ __('listing.no_results', {':contentTypeName': contentType.get('name') }, contentType.getKey)|ucfirst }}
                        </div>
                    {% endif %}
                    </section>
                    {% include 'partials/pagination' %}
                </div>

                <div class="col-lg-4">
                    <section class="panel">
                        <header class="panel-heading h4">
                            {{ __('listing.actions.title',{':contentTypeName': contentType.get('name') }, contentType.getKey)|ucfirst }}
                        </header>
                        <div class="panel-body">
                            <a class="btn btn-primary btn-large" href="{{ path('manage.new', { 'contentTypeKey': contentType.slug }) }}">
                                <i class="fa fa-plus"></i> {{ __('listing.actions.new',{':contentTypeSingularName': contentType.get('singular_name') }, contentType.getKey)|ucfirst }}
                            </a>
                            <div class="line line-dashed line-lg pull-in"></div>

                            <form class="input-group">
                                <input type="text" class="form-control" value="{{ request('search', '', true) }}" name="search">
                                <div class="input-group-btn">
                                    {% if request('search') %}
                                    <a class="btn btn-default" href="?">
                                        <i class="fa fa-times"></i>
                                    </a>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i> {{ __('listing.actions.search', {}, contentType.getKey) }}</button>
                                </div>
                            </form>
                        </div>
                    </section>

                    {# {{ render(path("lastmodified", {"contentTypeKey": contentType.slug} )) }} #}

                    {# {{ render(path("showstack", {'items': 5, 'options': 'full' } )) }} #}
                </div>
            </div>
        </div>
    </div>
</section>
{% include 'layouts/_footer' %}
