{% set attributes = {
    'role': 'uploadcare-uploader',
    'data-locale': 'en',
    'data-tabs': 'file dropbox url facebook gdrive instagram evernote box skydrive',
    'data-images-only': true,
    'data-path-value': true,
    'data-preview-step': true,
    'data-clearable': 'required' in field.get('rules', []),
    'date-multiple': false,
    'data-crop': field.get('crop/w', 1) ~ ':' ~ field.get('crop/h', 1) ~ ' minimum'
}|merge(attributes) %}

<div class="form-group{% if errors|length > 0 %} has-error{% endif %}">
    <img class="img-rounded" id="uploadcare-preview-{{ id }}" src="{% if value %}{{ value }}-/scale_crop/200x200/center/{% endif %}" style="max-width: 30%; float: right;">

    <input
        {% for attrKey, attrVal in attributes %}
        {{ attrKey }}="{{ attrVal }}"
        {% endfor %}
        type="hidden"
        value="{{ value }}">

    {% for error in errors %}
    <span class="help-block">{{ __(error) }}</span>
    {% endfor %}
</div>

<script>
    var widget = uploadcare.Widget('#{{ id }}');
    widget.onUploadComplete(function(info) {
        if(info.cdnUrl && window.leafletMaps && window.leafletMaps['point']) {
            if (Object.keys(window.leafletMaps['point']).length > 0 && info.originalImageInfo.geo_location) {
                var feature = L.geoJson({
                    "type": "Point",
                    "coordinates": [
                        info.originalImageInfo.geo_location.longitude,
                        info.originalImageInfo.geo_location.latitude
                    ]
                });

                _.each(window.leafletMaps['point'], function(map, id) {
                    feature.addTo(map)
                    map.fire('draw:created', {layer: feature});
                    setTimeout(function() {
                        map.fitBounds(feature.getBounds());
                    }, 0);
                })
            }
            document.getElementById('uploadcare-preview-{{ id }}').setAttribute('src', info.cdnUrl + '-/scale_crop/200x200/center/');
        }
    });
</script>
